<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Persons </h1>
</div>

<div class="row">
    <div class="col-md-5">
        <app-Person-detail-form></app-Person-detail-form>
    </div>
    <div class="col-md-7">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name EN</th>
                    <th>Phone </th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Picture</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.NameEN}}</td>
                    <td (click)="populateForm(pd)">{{pd.Phone}}</td>
                    <td (click)="populateForm(pd)">{{pd.NameEN}}</td>
                    <td (click)="populateForm(pd)">{{pd.NameEN}}</td>
                    <td (click)="populateForm(pd)">{{pd.NameEN}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.ID)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>